<%= form_for [@project, @original_budget], url: project_original_budget_index_path(@project), :html => {class: "form-horizontal", role: "form"} do |f| %>
  <div class="form-group">
  <div class="form-group">
    <%= f.label :purchase_price, "Purchase Price", class: "col-md-5 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :purchase_price, value: number_with_delimiter(f.object.purchase_price), class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sf_construction, "SF for Construction", class: "col-md-5 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :sf_construction, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sf_landscape, "SF for Landscaping", class: "col-md-5 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :sf_landscape, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-offset-3 col-md-5">
    <p>* enter values without commas</p>
  </div>
  <div class="col-md-offset-5 col-md-2">
    <%= f.submit "Create Budget", class: "btn btn-success" %>
  </div>
<% end %>
