<div class="container mainbox">

  <div class="row">
    <div class="col-md-12 show">
      <p><b>Project Description:</b> <%= "#{@project.name}  -  #{@project.address}" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 show">
      <p>Square Footage to be Built/Renovated:</p>
    </div>
    <div class="col-md-1 show">
      <p class="text-right"><%= @project.original_sf %></p>
    </div>
    <div class="col-md-1 show">
      <p class="text-right"><%= @project.revised_sf %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 show">
      <p>Square Footage for Parking/Landscaping:</p>
    </div>
    <div class="col-md-1 show">
      <p class="text-right"><%= @project.orig_lf_sf %></p>
    </div>
    <div class="col-md-1 show">
      <p class="text-right"><%= @project.rev_lf_sf %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 show-heading">
      <div class="frame">
        <h5 class="text-center"><b>Category</b></h5>
      </div>
    </div>
    <div class="col-md-1 show-heading">
      <div class="frame">
        <h5 class="text-center"><b>Original Budget</b></h5>
      </div>
    </div>
    <div class="col-md-1 show-heading">
      <div class="frame">
        <h5 class="text-center"><b>Revised Budget</b></h5>
      </div>
    </div>
    <div class="col-md-4 show-heading">
      <div class="frame">
      <h5 class="text-center"><b>Estimated Costs</b></h5>
      <div class="row inner_row">
        <div class="col-md-3 est-cost text-center inner_frame right-inner-border">Bid Award</div>
        <div class="col-md-3 est-cost text-center inner_frame right-inner-border">Bids Est</div>
        <div class="col-md-3 est-cost text-center inner_frame right-inner-border">Chg Ord</div>
        <div class="col-md-3 est-cost text-center inner_frame">Total</div>
      </div>
      </div>
    </div>
    <div class="col-md-1 show-heading">
      <div class="frame">
        <h5 class="text-center"><b>Remaining Budget</b></h5>
      </div>
    </div>
    <div class="col-md-2 show-heading">
      <div class="frame">
        <h5 class="text-center"><b>Requisitioned Costs</b></h5>
        <div class="row inner_row">
          <div class="col-md-6 text-center inner_frame right-inner-border">Invoiced</div>
          <div class="col-md-6 text-center inner_frame">Balance</div>
        </div>
      </div>
    </div>
  </div>

</div>
