<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user %>
        <%= link_to "PM", projects_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to "PM", root_path, class: "navbar-brand" %>
      <% end %>
    </div>
    <ul class="navbar-nav navbar-right">
      <% if current_user %>
        <p class="navbar-text">Logged in as: <%= current_user.name %></p>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to "Logout", logout_path %></button>
      <% else %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to "Login", login_path %></button>
    <% end %>
    </ul>
  </div>
</nav>
